In [ ]:
#shravya srivastava 25070123106
#Exp4:Study of set in python
set={"apple","banana","cherry","kiwi"} #set {}
print(set)
#diff btw tpl and list and set is that set prints elements nnot in order
#unordered no indexing
print(set[1])

{'apple', 'banana', 'kiwi', 'cherry'}

TypeError: 'set' object is not subscriptable

In [ ]:
set2={2,2.6,False,"shravya"}
print(set2)
#works with mixed data types

{False, 2, 2.6, 'shravya'}

In [ ]:
set3={2,2,"a","a",10,False,0,True,1,0b1010}
print(set3)
#1 and true is same and 10 and boolean

{False, True, 2, 'a', 10}

In [ ]:
#arethematic operations
set4={"a","b","c"}
set4.add("k")
print(set4)
# no append cause append works with order

{'a', 'c', 'k', 'b'}

In [ ]:
#set is mutable
set5={"a","b","c"}
set5.add("k")
set5.remove("b")
print(set5)

{'a', 'c', 'k'}

In [ ]:
#set theory union:OR and intersection:AND cant be used in lists and tpl
A={1,2,3,4}
B={3,4,5,6}
#union
print("union:",A|B)
print("intersection:",A&B)
print("intersection m2",A.intersection(B))#m2
#qu se understandwhat to use set tpl or list
print("difference:",A-B)
print("difference:",B-A)
#XOR
print("dissimilar:",A^B)

union: {1, 2, 3, 4, 5, 6}
intersection: {3, 4}
intersection m2 {3, 4}
difference: {1, 2}
difference: {5, 6}
dissimilar: {1, 2, 5, 6}

In [ ]:
#Frozen set
set8=frozenset({"apple","watermelon","dragon fruit","peach"})#tuple ka bracket outseide({}) worksike atuple
set9=frozenset({"apple","watermelon","kiwi","peach"})
print(set8)
print(type(set8))
print("union:",set8|set9)
print("intersection",set8&set9)
print("dissimilar",set8^set9)
#unionand intersection will work

#the set is fixed
set8.add("mango")
print(set8)#immutable
#indexing doesnt work

frozenset({'apple', 'watermelon', 'peach', 'dragon fruit'})
<class 'frozenset'>
union: frozenset({'apple', 'kiwi', 'watermelon', 'peach', 'dragon fruit'})
intersection frozenset({'apple', 'watermelon', 'peach'})
dissimilar frozenset({'kiwi', 'dragon fruit'})

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
''' Problem Statement 1: Unique Event Participants
A college event has a list of students who registered multiple times by mistake. Write a program uing set to store particular nameand display only the unique participants names.'''
Names=["Radha Sharma","Niraj Choudary","Ruchika Bhat","Shravya Srivastava","Ruchika Bhat","Radha Sharma","Priyal M","Aradhana Meena","Ruchika Bhat","Amit Trivadi"]
unique_names = set(Names)
print(unique_names)#code works in diff notebook

TypeError: 'set' object is not callable

In [ ]:
'''Problem Statement 2:Three Students choose elecetives subjects.Find the common subjects chosed by all students usingg set operation, concept used set intersection'''
student1={"FEEE","CLA","Hindi"}
student2={"FEEE","Python","CLA"}
student3={"CLA","Python","English"}
print("Common electives of three students:",student1&student2&student3)

Common electives of three students: {'CLA'}

In [ ]:
'''Problem Statement3: One set contains students in the Cricket club and another in the football club.
Find students who are:
1. In both clubs
2.In only one club
Concept used:intersection,symmertric difference'''
cricket={"ram","subh","rishi","harsh","vabhay","aryan"}
football={"prateek","arjun","kunal","riya","aryan","ram","subh"}
print("Students in both clubs:",cricket&football)
print("Students in only one club:",cricket^football)

Students in both clubs: {'ram', 'subh', 'aryan'}
Students in only one club: {'arjun', 'kunal', 'prateek', 'vabhay', 'riya', 'rishi', 'harsh'}

In [ ]:
'''Problem statement 4: Absent students
  Given a set of all students and set of present students,find the absent students.'''
students={"ram","sham","raywant","priyal","riya","shravya","rahul","priya"}
present={"ram","sham","raywant","riya","shravya","rahul"}
print("absent students:",students-present)

absent students: {'priyal', 'priya'}

In [ ]:
''' Problem statement 5: remove invalid entries:
a set contains valid course codes.
Remove a discontinued course code from the set.
Concept Used: remove()/discard()'''
Courses={"FEEE","PES","TPCS","IKS","CLA"}
Courses.remove("IKS")
Courses.discard("FEEE")
print(Courses)

{'PES', 'CLA', 'TPCS'}